.left-container{
  position:relative;
  width:40%;
  height:100vh;
  overflow:hidden;
}

/* background image */

.bg-image{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  top:0;
  left:0;
}

/* overlay */

.overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;

  padding:70px;

  display:flex;
  flex-direction:column;

  /* pushes everything upward */
  justify-content:flex-start;

  /* creates space above waves */
  padding-bottom:280px;

  color:white;
}

/* brand */

.brand{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:100px;
}

.logo-image{
  width:100px;
  height:100px;
  /* background:white; */
  border-radius:8px;
}.eventSphere-image{
  width:300px;
  height:100px;
}
/* hero */

.hero1{
  margin-bottom:120px;
}

.hero1 h1{
  font-size:48px;
  line-height:1.1;
  margin-bottom:20px;
}

.hero1 p{
  color:#cbd5f5;
}

/* users */

.users{
  display:flex;
  align-items:center;
  gap:12px;
}

.avatars img{
  width:36px;
  height:36px;
  border-radius:50%;
  border:2px solid white;
  margin-left:-8px;
}